
.about_wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.about_wrapper--content {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
}

.about_content--title {
    color: var(--text-color);
    font-size: 40px;
    text-align: center;
}

.content_text {
    line-height: 1.5;
    color: var(--text-color);
    margin-top: 20px;
    font-size: 18px;
}

.about_wrapper--skills {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 300px;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    border: 1px solid rgba(46, 56, 102, 0.7);
    padding: 30px 20px;
    background-color: rgba(26, 32, 60, 0.7);
}

.skills_title {
    color: var(--text-color);
    height: 35px;
    max-width: 200px;
    font-size: 22px;
    border-bottom: 1px solid var(--main-text-color);
}

.skills_list {
    display: flex;
    align-items: start;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
}

.skills_list--item {
    display: flex;
    gap: 10px;
    color: var(--text-color);
}

.list_item--img {
    width: 20px;
    height: 16px;
}

@media (max-width: 768px) {
    .about_wrapper--content {
        max-width: 700px;
    }

    .about_wrapper {
        align-items: start;
        flex-direction: column;
    }
}