.projects {
}

.container {}

.projects_wrapper {
    height: 100%;
    display: flex;
    margin: 100px 0 100px 0; 
    flex-direction: column; 
    gap: 30px;
}

.projects_wrapper--title {
    text-align: center;
    font-size: 33px;
    color: #fff;
}

.wrapper-cards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  
}

.projects_wrapper--cards {
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: rgba(26, 32, 60, 0.7);
    border: 1px solid rgba(46, 56, 102, 0.7);
    border-radius: 5px;
    align-items: center;
}

.card_title {
    color: #fff;
    font-size: 22px;
}

.card_desc {
    color: #fff;
}

.card_languages--list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 10px;
}

.list_item {
    border: 1px solid rgba(32, 39, 68, 0.7);
    padding: 8px;
    border-radius: 20px;
    background-color: #131313;
    color: #fff;
}

.card_btn {
    max-width: 160px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color: unset;
    color: var(--main-text-color);
    border: 1px solid var(--main-text-color);
    transition: box-shadow .2s ease-in-out, color .2s ease-in-out;
    cursor: pointer;
}

.card_btn:hover {
    color: var(--main-color);
    background-color: var(--main-text-color);
    box-shadow: 2px 2px 10px var(--main-text-color);
}